.container {
  background-image: linear-gradient(
    to right bottom,
    #021b92,
    #0046a7,
    #00588b,
    #006457,
    #006c2a
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .forms {
    .imgLogo {
      text-align: center;
    }
  }

  .colun1 {
    margin-top: 10px;
    gap: 100px;
    display: flex;
    flex-direction: row;
  }

  .colun2 {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .colun3 {
    gap: 100px;
    display: flex;
    flex-direction: row;
  }

  .btnCadastrar {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    margin-bottom: 40px;

    .textEntrar {
      align-items: center;
      margin-top: 40px;
      font-size: 18px;

      .linkEntrar {
        font-weight: bolder;
        margin-left: 2px;
      }
    }
  }
}
