.container {
  background-image: linear-gradient(
    to right bottom,
    #021b92,
    #0046a7,
    #00588b,
    #006457,
    #006c2a
  );
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38vh;
 
  .row1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 300px;
    margin-bottom: 50px;
  }
  .row2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .typePassword{
      display: flex;
      flex-direction: row;
      gap: 40px;
    }
    
    .btnAdicionar{
        Button{
          height: 6vh;
        }
    }
  }
}